[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory="/var/prometheus/text_collector"
Restart=always

SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target
